.container {
  margin: 20px auto;
}
.card{
  margin: 10px;
  box-shadow: rgb(227, 227, 227) 8px 8px 30px, rgb(255, 255, 255) -8px -8px 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.card-title{
  padding: 30px 0;
}

.card-body h1{
  font-size: 22pt;
  font-weight: normal;
  padding: 10px;
}

.card-body span p{
  font-size: 32pt
}

.text-danger{
  color: #dc6435 !important;
}

@media (max-width: 767.98px) { 
  .card-body h1{
    font-size: 15pt;
    font-weight: normal;
    padding: 5px;
  }

  .card-body span p{
    font-size: 20pt
  }

  .card-title{
    padding: 10px 0;
  }
}