.container {
  margin: 20px 150px;
}
.card{
  margin: 15px;
  box-shadow: rgb(227, 227, 227) 8px 8px 30px, rgb(255, 255, 255) -8px -8px 30px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.card-title{
  padding: 30px 0;
}

.text-danger{
  color: #dc6435 !important;
}